<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-black d-inline-block mb-0">Permohonan Penggunaan Bilik Mesyuarat</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <span style="color:black;"><i class=" fas fa-home"> </i> </span></a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card-wrapper">   
        <div class=" card">
          <div class=" card-header"><h3 class=" mb-0">Maklumat Butiran</h3></div>

          <div class=" card-body">
            <form>

              <div class=" form-group">
                <label
                  class=" form-control-label"
                  for="exampleFormControlSelect3"
                >
                 Fasiliti
                </label>

                <select class=" form-control" id="exampleFormControlSelect3">
                  <option> Aduan </option>

                  <option> Maklum Balas </option>

                  <option> Cadangan </option>

                  <option> Penghargaan </option>

                </select>
              </div>

              <div class=" form-group">
                <label
                  class="form-control-label"
                  for="example-date-input"
                >
                  Tarikh
                </label>

                  <input
                    class=" form-control"
                    id="example-date-input"
                    type="date"
                    value="2018-11-23"
                  />
              </div>

              <div class=" form-group">
                <label
                  class="form-control-label"
                  for="example-time-input"
                >
                  Masa
                </label>
                  <input
                    class=" form-control"
                    id="example-time-input"
                    type="time"
                    value="10:30:00"
                  />
              </div>
              <div class="form-group">
                <form>
                  <div class=" custom-file">
                    <input
                      class=" custom-file-input"
                      id="customFileLang"
                      lang="en"
                      type="file"
                    />
    
                    <label class=" custom-file-label" for="customFileLang">
                      Surat Mesyuarat * PDF File
                    </label>
                  </div>
                </form>
              </div>
              <div class=" form-group">
                <label
                  class=" form-control-label"
                  for="exampleFormControlSelect3"
                >
                 Taklimat
                </label>

                <select class=" form-control" id="exampleFormControlSelect3">
                  <option> Mesyuarat </option>

                  <option> Taklimat </option>

                  <option> Seminar </option>

                  <option> Latihan </option>
                </select>
              </div>
              <button class=" btn btn-primary" type="submit">
                Apply
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
