<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Inventori & Aset Penyelenggaraan</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header col-lg-12">
          <div class="row">
            <div class="col-sm-6">
              <h3 class=" mb-0">Inventori & Aset Penyelenggaraan</h3>
            </div>
            <div class="col-sm-6 text-right">
              <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
            </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Tunjuk
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  Rekod
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="Panduan Penggunaan Rumah Rehat DBKL" prop="panduanpenggunaan">
              <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.panduanpenggunaan}}
               </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Rumah Rehat Terbaru" prop="rumahrehatterbaru">
              <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.rumahrehatterbaru}}
               </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Larangan/Peraturan" prop="larangan">
              <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.larangan}}
               </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Harga Ganti Rugi Kerosakan" prop="hargagantirugi">
              <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.hargagantirugi}}
               </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tindakan">
              <ng-template ngx-datatable-cell-template let-value="value">
                <div>
                  <button
                  class=" btn btn-sm btn-primary"
                    data-target="#modal-default"
                    data-toggle="modal"
                    type="button"
                    (click)="openDefaultModal(modalDefault)"
                  >
                    Edit
                  </button>
                  <button
                  class=" btn btn-sm btn-primary"
                    type="button"
                  >
                    Delete
                  </button>
                  
                  <ng-template #modalDefault>
                    <div class=" modal-header">
                      <h6 class=" modal-title" id="modal-title-default">
                        Edit Form
                      </h6>
    
                      <button
                        aria-label="Close"
                        class=" close"
                        data-dismiss="modal"
                        type="button"
                        (click)="defaultModal.hide()"
                      >
                        <span aria-hidden="true"> × </span>
                      </button>
                    </div>
    
                    <div class=" modal-body">
                      <input
                         class="form-control mb-2"
                         placeholder="Panduan Penggunaan Rumah Rehat DBKL"
                         type="text"
                         (focus)="focus = true"
                         (blur)="focus = false"
                      />
                      <input
                         class="form-control mb-2"
                         placeholder="Rumah Rehat Terbaru"
                         type="text"
                         (focus)="focus = true"
                         (blur)="focus = false"
                      />
                      <input
                         class="form-control mb-2"
                         placeholder="Larangan/Peraturan"
                         type="text"
                         (focus)="focus = true"
                         (blur)="focus = false"
                      />

                      <input
                         class="form-control mb-2"
                         placeholder="Harga Ganti Rugi Kerosakan"
                         type="text"
                         (focus)="focus = true"
                         (blur)="focus = false"
                      />
                    </div>
    
                    <div class=" modal-footer">
                      <button class=" btn btn-primary" type="button">
                        Save
                      </button>
                      <button
                        class=" btn btn-link"
                        data-dismiss="modal"
                        type="button"
                        (click)="defaultModal.hide()"
                      >
                        Close
                      </button>
                    </div>
                  </ng-template>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" row">
  <div class=" col-xl-12">
    <div class=" card">
      <div class=" card-header">
        <div class="row">
        <div class="col-md-12"><h5 class=" h3 mb-0">Kerosakan Aset</h5></div>
      </div>
      </div>
      
      <div class=" card-body">
        <div class=" chart" id="chartdiv">
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" row">
  <div class=" col">
    <div class=" card">
      <div class=" card-header border-0">
        <h3 class=" mb-0">Harga Gantirugi Kerosakan</h3>
      </div>

      <div class=" table-responsive" id="first-list">
        <table class=" table align-items-center table-flush">
          <thead class=" thead-light">
            <tr>
              <th class=" sort" data-sort="name" scope="col">Nama</th>

              <th class=" sort" data-sort="budget" scope="col">Jenis Aset</th>

              <th class=" sort" data-sort="status" scope="col">Jumlah(RM)</th>

              <th scope="col"></th>
            </tr>
          </thead>

          <tbody class=" list">
            <tr>
              <td class=" name">Item1</td>
              <td class=" budget">Aset1</td>
              <td class=" status">RM100</td>
            </tr>

            <tr>
              <td class=" name">Item2</td>
              <td class=" budget">Aset2</td>
              <td class=" status">RM200</td>
            </tr>
            <tr>
              <td class=" name">Item3</td>
              <td class=" budget">Aset3</td>
              <td class=" status">RM300</td>
            </tr>
            <tr>
              <td class=" name">Item4</td>
              <td class=" budget">Aset4</td>
              <td class=" status">RM400</td>
            </tr>
            <tr>
              <td class=" name">Item5</td>
              <td class=" budget">Aset5</td>
              <td class=" status">RM500</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class=" card-footer py-4">
        <nav aria-label="...">
          <pagination
            [totalItems]="25"
            class="justify-content-end mb-0"
            previousText="<i class='fas fa-angle-left'></i>"
            nextText="<i class='fas fa-angle-right'></i>"
          >
          </pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>